.picture {
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
}

.picture:hover {
  filter: brightness(80%);
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 12px;
}

.image-title {
  text-align: center;
  font-family: monospace;
  font-size: 1.5rem;
}

body {
  background-color: #2f343f;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.page-container {
  width: 80%;
  margin-top: 5rem;
  margin: auto;
}
