.main {
  display: flex; /* we will talk about this later ... */
  --s: 100px; /* size  */
  --margin: 4px; /* margin */
}

.container {
  font-size: 0; /* disable white space between inline block element */
}

.container div {
  width: var(--size);
  margin: var(--margin);
  height: calc(var(--size) * 1.1547);
  display: inline-block;
  font-size: initial; /* we reset the font-size if we want to add some content */
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}
